doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.min.css')
    script(src='/javascripts/vendors/jquery/jquery.min.js')
    script(src='/javascripts/vendors/angular/angular.min.js')
    script(src='/javascripts/vendors/angular-route/angular-route.min.js')
    script(src='/javascripts/vendors/angular/ui-bootstrap-tpls.min.js')  
      
  body
    block content
    p this a footer