doctype html
html(lang="en-UK", id="ng-app", ng-app="FourSquareApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.min.css')
    script(src='/javascripts/vendors/jquery/jquery.min.js')
    script(src='/javascripts/vendors/angular/angular.min.js')
    script(src='/javascripts/vendors/angular-route/angular-route.min.js')
    script(src='/javascripts/vendors/angular/ui-bootstrap-tpls.min.js')  
      
  body
    block content
    
  script(src='/javascripts/app.js')
  script(src='/javascripts/controllers.js')
  script(src='/javascripts/services.js')  
