div(ng-controller="MainCtrl as mainCtrl")

  div 
    form(name="searchForm", ng-submit="mainCtrl.browsePlaces()")
      input(type="text", placeholder="Enter Location", ng-model="mainCtrl.filterVenue", required)
      input(type="submit", value="Search",  ng-disabled="searchForm.$invalid")
      
  div(ng-repeat="place in mainCtrl.places")
    div(ng-repeat="venue in place.venues")
      p
        label Venue Name:
        span 
          a(target="_blank", href="{{venue.url}}")
            {{venue.name}}
      p
        label Adress:
        span {{venue.location.address}}
      
    